.body {
  scroll-behavior: smooth;
  background-color: white;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    Arial, sans-serif;
  color: black;
  overflow-x: hidden;
  display: flex;
  width: 100vw;
}
.main-container {
  width: 83.29%;
  margin-left: auto;
}

.posts-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  margin: 60px 0;
}
.wrapper {
  padding: 10px;
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}
.nav-container {
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

@media screen and (max-width: 900px) {
  .main-container {
    width: 92vw;
  }
}
@media screen and (max-width: 800px) {
  .main-container {
    width: 91vw;
  }
}
@media screen and (max-width: 670px) {
  .main-container {
    width: 90vw;
  }
}
@media screen and (max-width: 630px) {
  .main-container {
    width: 89.5vw;
  }
}
@media screen and (max-width: 600px) {
  .main-container {
    width: 100vw;
  }
}
