.auth-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.auth-container img {
  border-radius: 10px 0px 0px 10px;
  height: 489.75px;
}
.form-div {
  display: flex;
  flex-direction: column;
  width: 350px;
}
.form-div form {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 3vh 1vw;
  border: 1px solid rgba(128, 128, 128, 0.3);
  border-radius: 0px 10px 10px 0px;
}
.form-div-register form {
  border-radius: 10px;
}
.form-div form h2 {
  margin: 20px 0 40px 0;
  font-size: 40px;
  font-family: cursive;
}
.form-div form .input {
  font-size: 16px;
  width: 90%;
  padding: 12px 0 10px 10px;
  border-radius: 8px;
  border: 1px solid rgba(128, 128, 128, 0.3);
  margin-bottom: 10px;
}
.login-btn {
  width: 94%;
  padding: 10px;
  font-weight: 700;
  background-color: rgb(1, 183, 255);
  border: none;
  border-radius: 8px;
  margin: 20px 0px;
  color: white;
  cursor: pointer;
}
.google-login {
  background: transparent;
  border: none;
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: 700;
  font-size: 95%;
  color: rgb(70, 165, 224);
  cursor: pointer;
  margin: 20px 0;
}
.sign-up {
  text-align: center;
  border: 1px solid rgba(128, 128, 128, 0.3);
  padding: 20px;
  margin-top: 10px;
  border-radius: 0px 10px 10px 0;
}
.sign-up a {
  color: rgb(1, 183, 255);
}
.line-background {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.line-background .line {
  background-color: rgb(219, 219, 219);
  height: 1.5px;
  width: 90px;
}

@media screen and (max-width: 850px) {
  .auth-container img {
    display: none;
  }
}
